//Colors 
$white:#FFFFFF;
$primary-color:#564AFF;
$primary-color-hover:#473cda;
$secondary-color:#707070;
$secondary-color-hover:#bcbcbc2a;
$light-background:#FBFBFB;
$category-orange:#FFA846;
$category-green:#32B436;

//Text
$small-text:13px;
$standard-text:16px;
$medium-text:24px;
$big-text:36px;