@import './variables';
.left-col{
    width: 350px;
    height: 100vh;
    background-color: $primary-color;
    .logo{
        display: block;
        width: 175px;
        margin: 60px auto 0;
    }
    nav{
        display: flex;
        flex-direction: column;
        margin: 115px 0 0;
        padding: 0 50px;
        >li{
            font-size: $standard-text;
            font-weight: 500;
            color: $white;
            margin-bottom: 33px;
            list-style: none;
        }
        >li:has(a.active){
            list-style: disc;
        }
        >li:last-child{
            border-top: 2px solid $white;
            padding: 33px 0 0;
        }
    }
}

.right-col{
    background-color: $light-background;
    display: flex;
    flex: 1;
    justify-content: center;
    padding: 70px 50px;
}

.menu-icons{
    cursor: pointer;
    width: 30px;
    position: absolute;
    top: 3%;
    right: 5%;
    z-index: 10;
    background: none;
    padding: 0;
    border: none;
}

@media (max-width : 860px) {
    .left-col{
        position: fixed;
        width: 100%;
        z-index: 9;
    }
    .right-col{
        display: block;
        padding: 0;
        width: 100%;
    }
}